* {
    padding: 0;
    margin: 0;
}
.bg-light {
    background-color: transparent!important;
    color: white;
}
a.navbar-brand {
    color: white!important;
}
#root {
    padding: 2% 8%;
    background-image: linear-gradient(120deg, rgba(37, 41, 88, 0.4), rgba(0, 0, 0, 1),
        rgba(36, 37, 42, 0.5)), url("../src/images/law2.jpeg");
    background-position: center;
    background-size: cover;
    text-align: left;
    color: white;
    margin: auto;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
}

#content {
    width: 40%;
    margin: auto;
    padding-top: 5%;
    margin-bottom: 3%;
}
#content h1 {
    font-weight: bold;
    font-size: 80px;
}

#content p {
    font-size: 30px;
}

.notify {
    display: flex;
    align-items: center;
    padding: 4px;
    width: 90%;
    margin: auto;
}

.email-div {
    width: 95%;
    background-color: white;
    border-radius: 50px;
    padding: 12px;
    margin: auto;
}
.email-div input {
    width: 100%;
    padding: 4px 8px;
    border: none;
    background-color: transparent;
    outline: none;
}

.btn-div {
    width: 9%;
    border-radius: 100%;
    padding: 13px;
    text-align: center;
    margin-left: -94px;
    background-color: black;
}
.btn-div button {
    width: 100%;
    padding: 4px 8px;
    border: none;
    background-color: transparent;
    color: white;

}

#ack {
    position: absolute;
    bottom: 0;
    left: 45%;
}

@media only screen and (max-width: 400px){
    #root {
        padding: 2% 10%;
    }
    #content p {
        font-size: 20px;
    }

    .notify {
        width: 90%;
        background-color: white;
        padding: 4px;
        border-radius: 50px;
    }
    .email-div {
        margin-left: -2px;
        padding: 11px;
    }
    .btn-div {
        width: 20%;
        padding: 13px;
        margin-left: -150px;
    }
}

@media only screen and (max-width: 576px){
    #root {
        padding: 2% 2%;
    }

    #content {
        width: 100%;
        margin: auto;
        padding-top: 20%;
        text-align: center;
    }

    #content h1 {
        width: 80%;
        padding-top: 5%;
        font-size: 50px;
        margin: 0 auto 20px;

    }

    #content p {
        font-size: 20px;
    }
    .notify {
        width: 90%;
        background-color: white;
        padding: 4px;
        border-radius: 50px;
    }
    .email-div {
        margin-left: -2px;
        padding: 8px;
    }
    .btn-div {
        width: 12%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px){
    #root {
        text-align: center;
    }
    #content {
        width: 85%;
    }
    #content h1 {
        font-size: 60px;
    }

    .notify {
        width: 90%;
        background-color: white;
        padding: 2px;
        border-radius: 50px;
    }
    .email-div {
        margin-left: -2px;
        padding: 8px;
    }
    .btn-div {
        width: 12%;
        padding: 13px;
        margin-left: -150px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px){
    #root {
        text-align: center;
    }
    #content {
        width: 85%;
        margin: auto;
        padding-top: 10%;
     }
     #content h1 {
        font-size: 65px;
     }
     .last {
        margin-bottom: 30px;
     }
     input {
        font-size: 24px;
     }

     .notify {
        width: 90%;
        background-color: white;
        padding: 1px;
        border-radius: 50px;
    }
    .email-div {
        margin-left: -1px;
        padding: 11px;
    }
    .btn-div {
        width: 10%;
        padding: 18px;
        margin-left: -150px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    #root {
        text-align: center;
    }
    #content {
        width: 80%;
        margin: auto;
        padding-top: 5%;
     }
     #content h1 {
        font-size: 75px;
     }
     #content p {
        font-size: 40px;
     }

     .notify {
        width: 75%;
        background-color: white;
        padding: 1px;
        border-radius: 50px;
    }
    .email-div {
        margin-left: -1px;
        padding: 11px;
    }
    .btn-div {
        width: 12%;
        padding: 19px;
        margin-left: -140px;
    }
    .last {
        margin-bottom: 30px;
    }
    input {
        font-size: 25px;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    #root {
        text-align: center;
    }
    #content {
        width: 45%;
        margin: auto;
        padding-top: 2%;
     }
     #content h1 {
        font-size: 65px;
     }

     .notify {
        width: 90%;
        background-color: white;
        padding: 1px;
        border-radius: 50px;
    }
    .email-div {
        margin-left: -2px;
        padding: 11px;
    }
    .btn-div {
        width: 17%;
        padding: 20px;
        margin-left: -150px;
    }
    input {
        font-size: 25px;
    }
    .last {
        margin-bottom: 40px;
    }
}


@media only screen and (min-width: 1400px){
    #root {
        text-align: center;
    }
    #content {
        width: 60%;
        margin: auto;
        padding-top: 10%;
     }
     #content h1 {
        font-size: 70px;
     }

    .notify {
        width: 90%;
        background-color: white;
        padding: 1px;
        border-radius: 50px;
    }
    .email-div {
        margin-left: -2px;
        padding: 8px;
    }
    .btn-div {
        width: 10%;
        padding: 18px;
        margin-left: -150px;
    }
    input {
        font-size: 25px;
    }
    .last {
        margin-bottom: 40px;
    }
}